In [1]:
import pandas as pd
from openpyxl import load_workbook

## Input the filename for CAD/USD in data_src, and Dates in date_src

In [ ]:
data_src = 'CAD=X.csv'
date_src = 'dates.xlsx'

In [2]:
sf = pd.read_csv(data_src)
sf.head()

         Date     Open     High      Low    Close  Adj Close  Volume
0  2021-01-06  1.26764  1.27186  1.26300  1.26747    1.26747       0
1  2021-01-07  1.26667  1.27327  1.26640  1.26654    1.26654       0
2  2021-01-08  1.26854  1.27194  1.26590  1.26838    1.26838       0
3  2021-01-11  1.27260  1.28341  1.27190  1.27308    1.27308       0
4  2021-01-12  1.27724  1.27899  1.27327  1.27714    1.27714       0

In [3]:
sf.tail()

           Date     Open     High      Low    Close  Adj Close  Volume
257  2021-12-31  1.27430  1.27500  1.26268  1.27444    1.27444       0
258  2022-01-03  1.26571  1.27781  1.26440  1.26588    1.26588       0
259  2022-01-04  1.27514  1.27656  1.26672  1.27513    1.27513       0
260  2022-01-05  1.27035  1.27392  1.26911  1.27044    1.27044       0
261  2022-01-06  1.27550  1.28138  1.27040  1.27300    1.27300       0

In [4]:
df = pd.read_excel(date_src)
df.head()

        Date  Price
0 2021-03-01    NaN
1 2021-03-06    NaN
2 2021-03-11    NaN
3 2021-03-16    NaN
4 2021-03-21    NaN

In [5]:
df.tail()

         Date  Price
57 2021-12-11    NaN
58 2021-12-16    NaN
59 2021-12-21    NaN
60 2021-12-26    NaN
61 2021-12-31    NaN

In [7]:
prices = []
rowsf = 0
rowdf = 0
szsf = len(sf)
szdf = len(df)

In [8]:
while rowsf < szsf and rowdf < szdf:
    if str(sf.iloc[rowsf,0]) == str(df.iloc[rowdf,0]):
        prices.append(sf.iloc[rowsf, 2])
        rowdf += 1
    elif str(sf.iloc[rowsf,0]) >= str(df.iloc[rowdf,0]):
        prices.append(sf.iloc[rowsf-1, 2])
        rowdf += 1
    rowsf += 1

In [9]:
len(prices)

62

In [10]:
wb = load_workbook(date_src)
ws = wb['Sheet1']
df_new = pd.DataFrame({'Price': prices})
for index, row in df_new.iterrows():
    cell = 'B%d' % (index + 2)
    ws[cell] = row[0]
wb.save(date_src)